<section id="section1" class="panel">

      {{#each homepage}}
    <div class="my_intro">
       <img src="images/{{Image}}" alt="avatar" class="my-avatar">
            
           

            <h1 id="firstName">{{firstName}}</h1> <h1 id="lastName">{{lastName}}</h1>
            <p id="myDescription">{{Description}}</p>
    </div>
    

</section>
<h1 class="sectionhead">I CAN DO</h1>
 <section id="section2" class="panel">
    <div class="my_skills">

        
        <div class="skill">

       <img src="images/{{Skill1Image}}" alt="skill" class="my-skills">
            
            <h1 id="Type">{{Skill1Type}}</h1>
            </div>
            <div class="skill">
            <img src="images/{{Skill2Image}}" alt="skill" class="my-skills">
            
            <h1 id="Type">{{Skill2Type}}</h1>
            </div>
            <div class="skill">
            <img src="images/{{Skill3Image}}" alt="skill" class="my-skills">
            
            <h1 id="Type">{{Skill3Type}}</h1>
            </div>

    </section>

    </div>
    <!---videolightbox-->
        <section id="section3" class="panel">
            <h1 class="sectionhead">SOME GLIMPSES OF MY RECENT WORK</h1>
        <div class="lightbox-div"><img src="images/play-button.svg" class="playIcon"></div>
        <section class="lightbox">
        <a href="#" class="close-lightbox">X</a>
        <video  class="reel-video" src="video/{{showreel}}" type="video/mp4" onended="videoEnded()"></video>
        <section class ="video-controls">
            <i class="fas fa-play"></i>
            <i class="fas fa-pause-circle"></i>
            <i class="fas fa-backward"></i>
        </section>
    </section>

    <section id="portfolioSection" class="panel">

        <div id="portfolio1"><img src="images/{{portfolioImg1}}" class="portfolio"></div>

    </section>
    


    {{/each}}


    <section id="contactSection" class="panel">
        <h1 class="sectionhead">REACH US</h1>
        <form action="/contact" id="contact-form" method="post" role="form">
    <label for="name">Name</label>
        <input id="name" type="text" name="name" placeholder="name">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="email">
        <label for="subject">Subject</label>
        <input id="subject" type="text" name="subject" placeholder="subject">
        <label for="message">Message</label>
        <textarea id="message" name="message"></textarea>

    <button type="submit">Submit</button>
</form>

    </section>


<footer id="">
    
</footer>









   


        
    